html, body {
    margin: 0;
    padding: 0;
}
body {
    font-size: 62.5%;
}
*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --primary: #0044ff;
    --primary-light1: #4964ff;
    --primary-light2:#7182ff;
    --primary-light3: #9fa6ff;
    --primary-light4: #c7c9ff;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}